.home-container {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: auto;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .home-container {
    flex-direction: column;
    top: 55%;
    button {
      margin: 2%;
    }
  }
}
