@import '../../scss/variables.scss';

.cart-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .toolbar {
    height: 74px;
  }

  .cart-title {
    width: 100%;
    color: $white;
    height: 30px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    padding: 1%;
    background-color: $grey-1;
  }

  .cart-content-wrapper {
    margin-top: 1%;
    display: flex;
    flex-grow: 1;
    background-color: $grey-2;
    flex-direction: column;
    overflow-y: auto;
  }

  .checkout-btn-container {
    width: '100%';

    .amount-wrapper {
      text-align: right;
      font-size: 1.5rem;
      background-color: #f5f5f5;
      padding: 12px;
    }
  }
}

@media screen and (max-width: 840px) {
  .toolbar {
    display: none;
  }
  .cart-container {
    height: 95%;
  }
  .cart-container .cart-content-wrapper {
    height: 85%;
  }
}
